.padre {
    /* border: 1.5px solid black; */
    margin: 30px;
    position: absolute;
    padding: 15px;
    width: 93%;
    height: 32cm;

}

.cabecera{

    border: 1.5px solid black;
    width: 100%;
}



.logo{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    max-height: 150px;

}
.datos-timbrado{

    border-left: 1.5px solid black;
}
.datos-company,.datos-timbrado{
    padding-top: 15px;
}
.datos-company > span{
    width: 100%;
    font-size: 12px;
    text-align: center;
    display: block;
    font-weight: bold;

}
.datos-timbrado > p {
    font-size: 12px;
    font-weight: bold;
    display: block;


}
.datos-timbrado  p > span{
    font-weight: normal;
}
.datos-timbrado p:nth-child(4),
.datos-timbrado p:nth-child(2),
.datos-timbrado p:nth-child(1),
.datos-timbrado p:nth-child(0){
    margin: 0;
}

.datos-timbrado p:nth-child(4),
.datos-timbrado p:nth-child(5){
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}


.datos-encabezado{
    margin-top: 25px;
    border: 1.5px solid black;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.datos-encabezado p{
    font-weight: bold;
}
.datos-encabezado p >span {
    font-weight: normal;
}
.tabla-producto{

    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}
table.tabla-producto td {
    border: 0.5px solid black ;
    padding: 5px;
    vertical-align: bottom;
}

/*Codigo*/

table.tabla-producto th{
    background-color:rgba(0,0,0,0.15) ;
    border: 0.5px solid black ;
    padding: 5px;
    vertical-align: middle;
}
table.tabla-producto th:nth-child(1){
    width: 5%;
}
/*Descripcion*/
table.tabla-producto th:nth-child(2){
    width: 25%;
    text-align: center;
}
/*Unidad de Medida*/
table.tabla-producto th:nth-child(3){
    width: 5%;
}
/*Cantidad*/
table.tabla-producto th:nth-child(4){
    width: 5%;
}
/*Precio Unitario*/
table.tabla-producto th:nth-child(5){
    width: 12%;
}
/*Descuento*/
table.tabla-producto th:nth-child(6){
    width: 10%;
}
/*Exenta*/
table.tabla-producto th:nth-child(7){
    width: 12%;
}
/*5%*/
table.tabla-producto th:nth-child(8){
    width: 10%;
}
/*10%*/
table.tabla-producto th:nth-child(9){
    width: 16%;
}


/*Codigo*/
table.tabla-producto td:nth-child(1){
    width: 5%;
}
/*Descripcion*/
table.tabla-producto td:nth-child(2){
    width: 25%;
    text-align: left;
}
/*Unidad de Medida*/
table.tabla-producto td:nth-child(3){
    width: 5%;
}
/*Cantidad*/
table.tabla-producto td:nth-child(4){
    width: 5%;
}
/*Precio Unitario*/
table.tabla-producto td:nth-child(5){
    width: 12%;
    text-align: right;
}
/*Descuento*/
table.tabla-producto td:nth-child(6){
    width: 12%;
    text-align: right;
}
/*Exenta*/
table.tabla-producto td:nth-child(7){
    width: 12%;
    text-align: right;
}
/*5%*/
table.tabla-producto td:nth-child(8){
    width: 12%;
    text-align: right;
}
/*10%*/
table.tabla-producto td:nth-child(9){
    width: 12%;
    text-align: right;
}

table.tabla-producto  tbody > tr:last-child > td{
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}

table.tabla-producto   tr:nth-last-child(2) > td{
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}
table.tabla-producto   tr:nth-last-child(3) {
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}

table.tabla-producto   tr:nth-last-child(2)  td:nth-child(3){
    text-align: right;
}
table.tabla-producto   tr:nth-last-child(3)  td:nth-child(4){
    text-align: right;
}

.pie{
    margin-top: 15px;
    border: 1.5px solid black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.qr{
    padding-left: 20px;
    max-height: 200px;
}
.pie  p{
    margin: 0;
    font-size: 14px;
}
.pie > div > div:nth-child(1) >td:nth-child(1)  {
    background-color:rgba(0,0,0,0.15) ;
}
.pie > div p > span{
    font-weight: bold;
    padding-left: 3px;
}


/*TABLA PARA NOTA DE CREDITO*/
.tabla-producto-nc{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}
table.tabla-producto-nc td {
    border: 0.5px solid black ;
    padding: 5px;
    vertical-align: bottom;
}

/*Codigo*/

table.tabla-producto-nc th{
    background-color:rgba(0,0,0,0.15) ;
    border: 0.5px solid black ;
    padding: 5px;
    vertical-align: middle;
}
table.tabla-producto-nc th:nth-child(1){
    width: 5%;
}
/*Descripcion*/
table.tabla-producto-nc th:nth-child(2){
    width: 35%;
    text-align: center;
}
/*Unidad de Medida*/
table.tabla-producto-nc th:nth-child(3){
    width: 5%;
}
/*Cantidad*/
table.tabla-producto-nc th:nth-child(4){
    width: 5%;
}
/*Precio Unitario*/
table.tabla-producto-nc th:nth-child(5){
    width: 12%;
}
table.tabla-producto-nc > thead > tr:nth-child(1) >th:nth-child(6){
    width: 38%!important;
}
/*!*Exenta*!*/
/*table.tabla-producto-nc > thead > tr:nth-child(2) > th:nth-child(1){*/
/*    width: 12% !important;*/

/*    background: red;*/
/*}*/
/*!*5%*!*/
/*table.tabla-producto-nc > thead > tr:nth-child(2) > th:nth-child(2){*/
/*    width: 45% !important;*/
/*    padding-left: 5px; !important;*/
/*    background: yellow;*/
/*}*/
/*!*10%*!*/
/*table.tabla-producto-nc > thead > tr:nth-child(2) > th:nth-child(3){*/
/*    width: 100% !important;*/
/*    background: green;*/
/*}*/


/*Codigo*/
table.tabla-producto-nc td:nth-child(1){
    width: 5%;
}
/*Descripcion*/
table.tabla-producto-nc td:nth-child(2){
    width: 35%;
    text-align: left;
}
/*Unidad de Medida*/
table.tabla-producto-nc td:nth-child(3){
    width: 5%;
}
/*Cantidad*/
table.tabla-producto-nc td:nth-child(4){
    width: 5%;
}
/*Precio Unitario*/
table.tabla-producto-nc td:nth-child(5){
    width: 12%;
    text-align: right;
}

/*Exenta*/
table.tabla-producto-nc td:nth-child(6){
    text-align: right;
}
/*5%*/
table.tabla-producto-nc td:nth-child(7){
    text-align: right;
}
/*10%*/
table.tabla-producto-nc td:nth-child(8){
    text-align: right;
}

table.tabla-producto-nc  tbody > tr:last-child > td{
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}

table.tabla-producto-nc   tr:nth-last-child(2) > td{
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}
table.tabla-producto-nc   tr:nth-last-child(3) {
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}

table.tabla-producto-nc   tr:nth-last-child(2)  td:nth-child(3){
    text-align: right;
}
table.tabla-producto-nc   tr:nth-last-child(3)  td:nth-child(4){
    text-align: right;
}


/*AUTOFACTURA*/
.datos-encabezado-autofactura{
    margin-top: 25px;
    border: 1.5px solid black;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.datos-encabezado-autofactura p{
    font-weight: bold;
}
.datos-encabezado-autofactura p >span {
    font-weight: normal;
}

/*TABLA PARA AUTOFACTURA*/
.tabla-producto-auto{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}
table.tabla-producto-auto td {
    border: 0.5px solid black ;
    padding: 5px;
    vertical-align: bottom;
}



table.tabla-producto-auto th{
    background-color:rgba(0,0,0,0.15) ;
    border: 0.5px solid black ;
    padding: 5px;
    vertical-align: middle;
}
/*Codigo*/
table.tabla-producto-auto th:nth-child(1){
    width: 10%;
}
/*Cantidad*/
table.tabla-producto-auto th:nth-child(2){
    width: 10%;
}
/*Descripcion*/
table.tabla-producto-auto th:nth-child(3){
    width: 60%;
    text-align: center;
}
/*Precio Unitario*/
table.tabla-producto-auto th:nth-child(4){
    width: 15%;
}
/*Valor de Venta */
table.tabla-producto-auto th:nth-child(5){
    width: 15%;
}




/*Codigo*/
table.tabla-producto-auto td:nth-child(1){
    width: 10%;
}
/*Cantidad*/
table.tabla-producto-auto td:nth-child(2){
    width: 10%;
}
/*Descripcion*/
table.tabla-producto-auto td:nth-child(3){
    width: 40%;
    text-align: left;
}

/*Precio Unitario*/
table.tabla-producto-auto td:nth-child(4){
    width: 15%;
    text-align: right;
}

/*Valor de Venta */
table.tabla-producto-auto td:nth-child(5){
    text-align: right;
    width: 15%;
}

table.tabla-producto-auto  tbody > tr:last-child > td{
    text-align: left;
    background-color:rgba(0,0,0,0.15) ;
}




