<odoo>
    <data>
                    <!--Reporte cheque propio -->
        <report
                id="report_cheque"
                model="paraguay_backoffice.wizard.cheques"
                string="Cheques"
                report_type="qweb-pdf"
                name="paraguay_backoffice.cheques_report"
                file="paraguay_backoffice.cheques_report"
        />
        <!--Reporte de Recibos de compras (account.voucher) -->
        <report
                id="report_voucher"
                model="account.voucher"
                string="Recibos"
                report_type="qweb-pdf"
                name="paraguay_backoffice.voucher_report"
                file="paraguay_backoffice.voucher_report"
                print_report_name="'%s' % (object.number)"
        />

        <report
                id="report_voucher_supplier"
                model="account.voucher"
                string="Orden de Pago"
                report_type="qweb-pdf"
                name="paraguay_backoffice.voucher_report_supplier"
                file="paraguay_backoffice.voucher_report_supplier"
                print_report_name="'%s' % (object.number)"
        />
    </data>
</odoo>