<odoo>
    <data>


<!--        <record id="paperformat_factura" model="report.paperformat">-->
<!--            <field name="name">Factura</field>-->
<!--            <field name="default" eval="True"/>-->
<!--            <field name="format">custom</field>-->
<!--            <field name="page_height">354</field>-->
<!--            <field name="page_width">210</field>-->
<!--            <field name="orientation">Portrait</field>-->
<!--            <field name="margin_top">0</field>-->
<!--            <field name="margin_bottom">0</field>-->
<!--            <field name="margin_left">0</field>-->
<!--            <field name="margin_right">0</field>-->
<!--            <field name="header_line" eval="False"/>-->
<!--            <field name="header_spacing">0</field>-->
<!--            <field name="dpi">90</field>-->
<!--        </record>-->

        <record id="paperformat_kude" model="report.paperformat">
            <field name="name">Kude</field>
            <field name="default" eval="True"/>
            <field name="format">custom</field>
            <field name="page_height">297</field>
            <field name="page_width">210</field>
            <field name="orientation">Portrait</field>
            <field name="margin_top">0</field>
            <field name="margin_bottom">0</field>
            <field name="margin_left">0</field>
            <field name="margin_right">0</field>
            <field name="header_line" eval="False"/>
            <field name="header_spacing">20</field>
            <field name="dpi">90</field>
        </record>

                            <!--Factura-->
<!--        <report-->
<!--                id="factura_report"-->
<!--                model="account.move"-->
<!--                string="KuDe"-->
<!--                report_type="qweb-pdf"-->
<!--                name="factura_electronica.report_factura_kude"-->
<!--                file="factura_electronica.report_factura_kude"-->
<!--                attachment_use="True"-->
<!--                paperformat="paperformat_factura"-->
<!--                print_report_name="'KuDE - %s' % (object.nro_factura)"-->

<!--        />-->
        <report
                id="factura_report_2"
                model="account.move"
                string="KuDe"
                report_type="qweb-pdf"
                name="factura_electronica.report_factura_kude_2"
                file="factura_electronica.report_factura_kude_2"
                paperformat="paperformat_kude"
                print_report_name="'KuDE - %s' % (object.nro_factura)"

        />

    </data>
</odoo>