.contenedor{
    font-size:8px;
    font-family:  "DejaVu Serif", "STIX", serif;
}


/*FECHA*/
.fecha-ancho{
    position: absolute;
    left: 6.65cm;
}

.fecha-alto-1{
    top: 0.7cm;
}

.fecha-alto-2{
    top: 11.9cm;
}

.fecha-alto-3{
    top: 23.2cm;
}

/*VENDEDOR*/
.vendedor-ancho{
    position: absolute;
    left:10.6cm;
}

/*mismo alto que fecha*/



/*CLIENTE - SENHORES*/
.cliente-ancho{
    position: absolute;
    left: 5.6cm;
    display: inline;
}

.cliente-alto-1{
    top:1.1cm;

}

.cliente-alto-2{
    top:12.3cm;
}

.cliente-alto-3{
    top:23.65cm;
}

/*RUC*/
.ruc-ancho{
    position: absolute;
    left:5.2cm;
}

.ruc-alto-1{
    top: 1.5cm;
}

.ruc-alto-2{
    top: 12.7cm;
}

.ruc-alto-3{
    top: 24.05cm;
}


/*TELEFONO*/
.telefono-ancho{
    position: absolute;
    left: 9.6cm;
}
/*se utiliza el alto de ruc*/


/*REMISION*/
.remision-ancho {
    position: absolute;
    lef: 13.9cm;
}
/*se utiliza el alto de RUC*/


/*DIRECCION*/
.direccion-ancho{
    position: absolute;
    left:5.8cm;
}

.direccion-alto-1{
    top: 1.9cm;
}

.direccion-alto-2{
    top: 13.1cm;
}

.direccion-alto-3{
    top: 24.4cm;
}


/*CODIGO VENTA*/
.codigo_venta-ancho {
    position: absolute;
    left: 6.2cm;
}

.codigo_venta-alto-1{
    top: 2.3cm ;
}

.codigo_venta-alto-2{
    top: 13.5cm ;
}
.codigo_venta-alto-3{
    top: 24.75cm ;
}


/*LOCALIDAD*/
.localidad-ancho{
    position: absolute;
    left: 11.1cm;
}
/*se utiliza el alto de CODIGO VENTA*/


/*CODIGO*/
.codigo-interno-ancho{
    position: absolute;
    left: 17.4cm;
    font-size: 7px;
}


.codigo-interno-alto-2{
    top: 13cm;
    width: 2.5cm;

}

.codigo-interno-alto-3{
    top: 24.25cm;
    width: 2.5cm;
}

/*TIPO FACTURA*/
.tipo_factura-ancho{
    position: absolute;
    text-transform: uppercase;
    left: 15.1cm;
    font-weight: bold;
    font-size: 11px;
}

.tipo_factura-alto-1{
    top: 1.7cm;
}
.tipo_factura-alto-2{
    top: 12.95cm;
}
.tipo_factura-alto-3{
    top: 24.25cm;
}



/*TABLA PRODUCTOS FACTURA ORIGINAL*/
.tabla_productos-1  {
    position:absolute;
    width: 16.3cm;
    top:3.45cm ;
    left: 3.5cm;
}

.tabla_productos-2  {
    position:absolute;
    width: 16.3cm;
    top:14.7cm ;
    left: 3.5cm;
}

.tabla_productos-3  {
    position:absolute;
    width: 16.3cm;
    top:26.05cm ;
    left: 3.5cm;
}

.tabla_productos-1 td,
.tabla_productos-2 td,
.tabla_productos-3 td{
    text-align: right;
    /*border: 1px solid black;*/
    margin:0;
    padding: 0;
}

/*--COLUMNAS DE LA TABLA DE PRODUCTOS --*/
/*Codigo*/
table.tabla_productos-1 td:nth-child(1),
table.tabla_productos-2 td:nth-child(1),
table.tabla_productos-3 td:nth-child(1){
    width: 2.2cm;
    padding-right: 0.25cm;
}

/*Cantidad*/
table.tabla_productos-1 td:nth-child(2),
table.tabla_productos-2 td:nth-child(2),
table.tabla_productos-3 td:nth-child(2){
    width: 1.2cm;
    padding-right: 0.25cm;
}
/*Descripcion*/
table.tabla_productos-1 td:nth-child(3),
table.tabla_productos-2 td:nth-child(3),
table.tabla_productos-3 td:nth-child(3){
    /*padding-left: 0.25cm;*/
    width: 5.8cm;
    text-align: left;
}
/*Precion Unitario*/
table.tabla_productos-1 td:nth-child(4),
table.tabla_productos-2 td:nth-child(4),
table.tabla_productos-3 td:nth-child(4){
    width: 1.9cm;
    padding-right:0.5cm;
}
/*Excenta*/
table.tabla_productos-1 td:nth-child(5),
table.tabla_productos-2 td:nth-child(5),
table.tabla_productos-3 td:nth-child(5){
    width: 1.7cm;
    padding-right:0.5cm;
}
/*5 porciento*/
table.tabla_productos-1 td:nth-child(6),
table.tabla_productos-2 td:nth-child(6),
table.tabla_productos-3 td:nth-child(6){
    width: 1.6cm;
    padding-right:0.5cm;
    /*font-size: 11px;*/
}
/*10 porciento*/
table.tabla_productos-1 td:nth-child(7),
table.tabla_productos-2 td:nth-child(7),
table.tabla_productos-3 td:nth-child(7){
    padding-right: 0.65cm;
    width: 1.75cm;

}

/*SUB-TOTALES*/
/*exenta original*/
.sub-total-excenta-1{
    position: absolute;
    top:8.5cm;
    left: 14.7cm;
}
/*exenta copia 1*/
.sub-total-excenta-2{
    position: absolute;
    top:19.7cm;
    left: 14.7cm;
}

/*exenta copia 2*/
.sub-total-excenta-3{
    position: absolute;
    top:31.0cm;
    left: 14.7cm;
}

/*5% original*/
.sub-total-5-porciento-1{
    position: absolute;
    top:8.5cm;
    left: 16.3cm;
}

/*5% copia 1*/
.sub-total-5-porciento-2{
    position: absolute;
    top:19.8cm;
    left: 16.3cm;
}
/*5% copia 2*/
.sub-total-5-porciento-3{
    position: absolute;
    top:31.0cm;
    left: 16.3cm;
}

/*10% original*/
.sub-total-10-porciento-1{
    position: absolute;
    top:8.5cm;
    left: 18cm;
}

/*10% copia 1*/
.sub-total-10-porciento-2{
    position: absolute;
    top:19.7cm;
    left: 18cm;
}
/*10% copia 2*/
.sub-total-10-porciento-3{
    position: absolute;
    top:31.0cm;
    left: 18cm;
}


/*MONTOS EN LETRAS*/
/*original*/
.numero_letras-1{
    position: absolute;
    top:8.9cm;
    left: 6cm;
    width: 12cm;
}

/*copia 1*/
.numero_letras-2{
    position: absolute;
    top:20.2cm;
    left: 6cm;
    width: 12cm;
}

/*copia 2*/
.numero_letras-3{
    position: absolute;
    top:31.45cm;
    left: 6cm;
    width: 12cm;
}


/*TOTAL PAGAR*/
/*original*/
.total_pagar-1{
    position: absolute;
    top:8.9cm;
    left: 18cm;
}

/*copia 1*/
.total_pagar-2{
    position: absolute;
    top:20.2cm;
    left: 18cm;
}

/*copia 2*/
.total_pagar-3{
    position: absolute;
    top:31.45cm;
    left: 18cm;
}


/*IVA MONTOS*/
/*5% original*/
.total_iva_5-1{
    position: absolute;
    left: 7.5cm;
    top: 9.4cm;
}

/*5% copia 1*/
.total_iva_5-2{
    position: absolute;
    left: 7.5cm;
    top: 20.6cm;
}
/*5% copia 2*/
.total_iva_5-3{
    position: absolute;
    left: 7.5cm;
    top: 31.9cm;
}

/*10% original*/
.total_iva_10-1{
    position: absolute;
    left: 10.4cm;
    top: 9.4cm;
}

/*10% copia 1*/
.total_iva_10-2{
    position: absolute;
    left: 10.4cm;
    top: 20.6cm;
}
/*10% copia 2*/
.total_iva_10-3{
    position: absolute;
    left: 10.4cm;
    top: 31.9cm;
}

/*total original*/
.total_iva-1{
    position: absolute;
    left: 15.3cm;
    top: 9.4cm;
}

/*total copia 1*/
.total_iva-2{
    position: absolute;
    left: 15.3cm;
    top: 20.6cm;
}

/*total copia 2*/
.total_iva-3{
    position: absolute;
    left: 15.3cm;
    top: 31.9cm;
}


/*BULTOS*/
/*copia 1*/
.bultos-2{
    font-size: 12px;
    position: absolute;
    left: 1.5cm;
    top: 20.5cm;
}

/*copia 2*/
.bultos-3{
    font-size: 12px;
    position: absolute;
    left: 1.5cm;
    top: 31.9cm;
}