.container{
    margin-top: 20px;
    }
    .recibimosruc{
    font-size: large;
    padding-left: 5px;
    }
    .nombresruc{
    font-size: large;
    border-bottom: 2px dashed gray;
    padding: 3px;
    padding-right: 50px;
    margin-right: 10px;
    }
    .nombresruc2{
    font-size: medium;
    border-bottom: 2px dashed gray;
    padding: 3px;
    padding-right: 170px;
    }
    .nombresruc3{
        font-size: medium;
        border-bottom: 2px dashed gray;
        padding: 3px;
        padding-right: 278px;
    }
    .nombresruc4{
        font-size: medium;
        border-bottom: 2px dashed gray;
        padding: 3px;
        padding-right: 280px;
    }    
    .nombresruc5{
        font-size: medium;
        border-bottom: 2px dashed gray;
        padding: 3px;
        padding-right: 245px;
    }
    .nombresruc6{
        font-size: medium;
        border-bottom: 2px dashed gray;
        padding: 3px;
        padding-right: 130px;
    }
    .nombresruc7{
        font-size: medium;
        border-bottom: 2px dashed gray;
        padding: 3px;
        padding-right: 150px;
    }
    .recibodedinero{
    text-align: center;
    width: 30%;
    padding-bottom: 50px;
    line-height: 1.5;
    }
    .container2{
    font-size: large;
    padding-top: 50px;
    }
    .container3{
    padding-top: 50px;
    font-size: large;
    }
    .container4{
    padding-top: 30px;
    font-size: large;
    }
    .container5{
    padding-top: 30px;
    font-size: large;
    margin-bottom: 25px;
    }
    .Borde{
    padding: 10px;
    position: absolute;
    border: 2px solid black;
    padding-bottom: 20px;
    display: inline-block;
    border-radius: 15px;
    width: 96%;
    }
    #TituloRecibo{
    font-size: x-large;
    }
    #Ruc{
    font-size: large;
    }
    #Num{
    font-size: large;
    }
    #Monto{
    position:absolute;
    right: 30px;
    border:3px solid black;
    width: 30%;
    font-size: x-large;
    background-color: lightgray;
    }
    #BoxMonto{
    border: 2px solid black;
    display: inline-block;
    border-radius: 15px;
    padding: 5px 15px;
    position: absolute;
    margin-right: 80px;
    line-height: 2.5;
    width: 60%; 
    height: 100px; 
    white-space: pre-line;
    }
    #ContenedorSuma{
    padding-right: 5px;
    padding-left: 20px;
    }
    #Guaranies{
    position: absolute;
    right: 0;
    width: 40%;
    font-size: x-large;
    padding-top: 3px;
    font-weight: bold;
    }
    .totalpagar{
    background-color: lightgray;
    width:75%;
    position: absolute;
    margin-left: 20px;
    height: 25px;
    font-weight: bold;
    
    }
    .firmaempleado, .firmaencargado {
        display: inline-block; 
        font-size: large;
        text-align: center;
        padding: 10px; 
        
    }
    
    .firmaempleado {
        
        border-top: 1px dashed black;
        padding-left: 20px; 
        padding-right: 20px; 
        
    }
    .espacioblanco{
        padding-left: 6cm;
        padding-right: 7cm;
    }
    
    .firmaencargado {
        border-top: 1px dashed black;
        padding-left: 20px; 
        padding-right: 20px; 
    }

    .contenedorfirmas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
    }
    .fechapago{
        padding-right: 17cm;
    }
    .tablaiteradores{
        padding: 10px;
        border: 2px solid black;
        display: inline-block;
        border-radius: 15px;
        margin-left: 20px;
    }
    

    /* agregar firma del empleado y de el  */
    /* agregar tabla con los pagos */
    /* fecha de inicio y final del pago */
